<!DOCTYPE html>
<html>
<head>
  <title>Procify</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <link href="https://fonts.googleapis.com/css?family=Mukta+Malar|Oswald|Source+Sans+Pro|Heebo|Roboto+Condensed" rel="stylesheet">
</head>
<script type="text/javascript">
  <% if logged_in? %>
    window.currentUser = <%= render(
      "api/users/user.json.jbuilder",
      user: current_user
    ).html_safe %>
  <% end %>
</script>
<body>
  <%= yield %>
</body>
</html>
